<div class="section  color{{i}}">
    <div class="container">

        <h1>Amazing</h1>
        <h2>Here we are</h2>
        <p>

        </p>

    </div>
</div>
<div id="section_border_{{i}}-{{j}}" class="border"></div>